.song-container {
  // min-height: 60vh;
  margin-top: 10px;
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 30%;
    border-radius: 50%;
  }
  h2 {
    padding: 1rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .song-container {
    width: fit-content;
    img {
      width: 17%;
      // display: none;
    }

    h2 {
      // display: none;
      font-size: 20px;
    }

    h3 {
      // display: none;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .song-container {
    width: fit-content;
    img {
      width: 30%;
    }

    h2 {
      font-size: 25px;
    }

    h3 {
      font-size: 20px;
    }
  }
}